body {
  font-family: Verdana, sans-serif;
  background-color: #000;
  font-size: 16px;
  line-height: 1.2;
  color: white;
}

.gray {
  color: gray;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-weight-300 {
  font-weight: 300;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

.coming-soon {
  color: aquamarine;
}


.guide p {
  font-size: 1.3rem;
}

.copyright {
  margin-right: 1rem;
}
